
.calcular-tmb{
    padding: 1em;
}

.calcular-tmb{
    background-color:#eeeeee;
    color:rgb(85, 85, 85);
}

.caja-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center; /*Alinea cada caja interna al centro horizontal*/
    align-items: center; /*Alinea cada caja interna al centro vertical*/   
    padding: 1rem;
    border-radius: 10px;
    background-color: #000000;    
}

.span-tmb{
    display: block;
    font-size: 2rem;
    color: aqua;
    font-weight: bold;   
}

.mensaje-tmb{
    display: block;
    font-size: 1.4rem;
    color:aqua;
    padding: 8px;
    border-radius: 5px;
}







