*{
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: 'Montserrat' ;
}

body{
    margin:0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 1em;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.7em;    
}

.parrafo-logo{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;    
    margin-bottom: 0;
    font-size: 1.4rem;
}

.parrafo-logo > span{
    font-style: italic;
    color:green;
}

h1{
    text-align: center;
    color:rgb(85, 85, 85);
    margin-top: 0;
}

.nav{
    opacity: 0;
    visibility: hidden; /*Oculta el menú con los links*/
    display: flex;
    flex-direction: column;
    align-items: end;
    position:absolute; /*Hace que cada link ocupe todo el ancho*/
    right: 0; /*Tiene que ver con position*/
    top:0; /*Tiene que ver con position*/
    padding-top: 2.3em;
    padding-right: 1em;
    background-color:#12322B;
}

.nav-list{
    display: flex;
    flex-direction: column; /*Un link debajo del otro*/
    align-items: end; 
    list-style-type: none; /*Quita las viñetas*/
    gap: 1rem;
}

.nav-list > li > a{
    text-decoration: none; /*Quita el subrayado*/
    color:#FFF;
    font-family: sans-serif;
}

/*Al colocar un PUNTO, hacemos que se agregue una clase nueva, 
en este caso, "visible". Lo que contenga la nueva clase va a 
sobreescribir lo que se haya configurado en su clase original, 
pero lo que se configuró y no se sobreescribe, se mantiene tal
cual: */
.nav.visible{
    opacity: 1;
    visibility: visible; /*Desoculta el menú con los links*/
}

.boton-abrir, .boton-cerrar{
    border:0; /*Quita la línea negra del borde*/
    font-size: 1.6em; /*Agranda el botón*/
    background-color: transparent;
}

.boton-cerrar{
    color: #FFF;
}

.primer-tramo{
    background-color:#eeeeee;
    padding: 1em;
}

.tips{
    display: flex;
    text-align: center;
}

.p-tips{
    margin: 0;
    font-family: 'Poppins';
    font-size: 0.9rem;
}

.segundo-tramo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center;
    color:rgb(85, 85, 85); 
    border-bottom: 1px solid rgb(85, 85, 85);   
}

.segundo-tramo > h2{
    font-size: 1.2rem;
    margin-bottom: 0;
}

.fotos{
    transform: scale(0.9);    
}

.ultimo-parrafo-article{
    margin-bottom: 0;
}

.footer{
    background-color:#12322B;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-align: start;
    padding: 1em;
}

.footer > div{
    margin-bottom: 3em;
}

.link-formulario{
    color:aqua;
    text-decoration: none;
}

.iconos-redes > a > img{
    transform: scale(0.6);
}

.copyright{
    text-align: center;
    border-top: 1px solid #FFF;

}