*{
    box-sizing: border-box;     
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: 'Montserrat' ;
    text-align: center;
    color:rgb(85, 85, 85);
    margin-top: 0;
    margin-bottom: 2em;
}

h2{
    font-family: 'Montserrat';
    color: rgb(85, 85, 85);
    /* font-size: 1.2rem; */
    text-align: center;
}

body{
    margin:0;
}

.carrusel{
    display: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 1em;
}

.logo{
    max-width: 200px;
    z-index: 3;
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

/*--------------------ATENCIÓN--------------------: 
Las páginas web tienen un límite a la izquierda, pero 
no tienen límite a la derecha. Es por eso que cuando quería
que el "contenido-menu" aparezca barrido de derecha a izquierda
dejaba un HUECO que era donde se "escondía" con el 
"transform: translateX(100%)". En cambio cuando lo ubico a la 
izquierda, ese problema no lo tiene porque el lado izquierdo de la
página tiene un límite, y no genera ningún HUECO. 
*/
.contenido-menu{
    position: absolute;
    width: 100%;
    max-width: 235px;
    top:0;
    left: 0;    
    background-color: #12322B;;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 500ms ease;
    z-index: 2;
}

.nav{
    display: flex;
    flex-direction: column;    
    gap: 2em;
    padding-left: 1em;
    transform: translateY(50%); /*Altura de los links con respecto al header*/
}

.nav > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: aqua;
}

/*ANIMACIÓN: */
.animacion{
    opacity: 1;
    visibility: visible;    
}

.animacion-2{
    transform: translateX(0%);
}

/*---MENU HAMBURGUESA---*/

/*El "menu__barras", al tener una "position:absolute",
se posiciona con respecto al "header" que tiene una
"position:relative" y, además, es hijo de él.*/
.menu__barras{   
    position: absolute;
    width: 30px;
    height: 30px;
    top:40%;
    right: 10%;
    transform: scale(1);
    cursor: pointer;       
    z-index: 3;    
}

.menu__barras > span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}

/*Clases que no estan en el HTML, pero que seran
agregadas a las barras <span> mediante JavaScript: */
.activarLinea1__menu-barras{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activarLinea2__menu-barras{
    opacity: 0;
    margin-left: -30px;
}

.activarLinea3__menu-barras{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/*--------MAIN---------------------------------------------------------- */

.primer-tramo{
    background-color:#eeeeee;
    padding: 2em;
    color:rgb(85, 85, 85);
}

.tips{
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 3em;
}

.p-tips{
    margin: 0;
    font-family: 'Poppins';
    font-size: 0.9rem;
}

figcaption{
    text-align: center;
    font-family: 'Montserrat';
}

.p-testimonios{
    font-family: 'Poppins';
    text-align: justify;
}

.primera-imagen{
    margin-bottom: 3em;
}

.segundo-tramo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
    color:rgb(85, 85, 85); 
    border-bottom: 1px solid rgb(85, 85, 85);   
}

.p-oculto{
    display: none;
}

.ultimo-parrafo-article{
    margin-bottom: 0;
    font-family: 'Poppins';
    text-align: justify;
}

/*--------FOOTER---------------------------------------------------------- */

.footer{
    background-color:#12322B;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-align: start;
    padding: 1em;
}

.link-formulario{
    color:aqua;
    text-decoration: none;
}

.contacto > h3{
    margin-top: 0.4em;
}

.contactos{
    margin-bottom: 1em;
}

.contactos > i{
    font-size: 1rem;
    font-family: 'Montserrat';
    font-style: normal;  
}

.contactos > a{
    text-decoration: none;  
    color:aqua;
    margin-left: 0.5em;
}

.iconos-redes > a > img{
    transform: scale(0.6);
}

.copyright{
    text-align: center;
    border-top: 1px solid #FFF;
}

/*-----------TABLETS VERTICALES-----------------------------------------------------*/
@media screen and (min-width:768px){    
    .header{
        padding-left: 4em;
        padding-right: 4em;
    }

    .logo{
        max-width: 250px;
    }
    .contenido-menu{
        max-width: 340px;
    }

    .nav{
        padding-left: 2.7em;
        
    }

    .primer-tramo, .segundo-tramo{
        padding-left: 4em;
        padding-right: 4em;
    }

    .testimonios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .descubri{
        display: grid;
        grid-template-columns: 1fr 1fr;         
        gap: 30px;
    }

    .descubri-1 > img{
        max-width: 81%;
    }

    .descubri-2 > img{
        max-width: 99%; 
    }

    .descubri-3 > img{
        max-width: 80%;
    }

    .p-testimonios.media{
        text-align: center;
    }

    .ultimo-parrafo-article.media{
        text-align: center;
    }

    .p-oculto{
        display: block;
        font-family: 'Poppins';
        margin: 0;
        text-align: center;
    }

    .footer{
        padding-left: 3em;
        padding-right: 3em;
    }

    .contacto > h3{
        margin-top: 0;
    }

    .grid-contacto{
        display: grid;
        grid-template-columns: 23% 23% 33%;
        justify-content: space-between; 
    }

    .redes-sociales{
        margin-top: 1em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*-----------PANTALLAS GRANDES AJUSTE FINO---------------------------------------*/
@media screen and (min-width:1024px) {
    .carrusel{
        display: block;
    }

    .carousel-inner{
        max-height: 20em;        
    }

    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .logo{
        max-width: 180px;
    }

    .header{
        padding-left: 10em;
        padding-right: 10em;
    }

    /*Ocultar el botón de barras:*/
    .menu__barras{
        display: none;
    }

    .container-menu{
        position:static;
        background-color:transparent;
        width: auto;
        height: auto;        
        opacity: 1;
        visibility: visible;
        transition: all 0ms ease;
    }

    .contenido-menu{
        position: static;
        width: auto;
        max-width:fit-content; /*Deja que el contenido ajuste el ancho*/           
        background-color:transparent;
        height: auto;
        transform: translateX(0%);
        transition: all 0ms ease;
    }
    
    .nav{
        display: flex;
        flex-direction:row;
        justify-content: end;    
        gap: 2em;
        padding-left: 1em;
        transform: translateY(0%); /*Altura de los links con respecto al header*/
    }
    
    .nav > a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        color: #12322B;
    }

    .nav > a:hover{
        color:red;
        text-decoration: underline;
    }


    .testimonios{
        justify-items: center;
        gap:0;
    }

    .primera-imagen, .segunda-imagen{
        width: 70%;
    }

    .primera-imagen > img{        
        transform: scale(0.8);
        filter: grayscale(80%); 
        transition: 1s; 
    }

    .primera-imagen > img:hover{
        transform: scale(1);
        filter: grayscale(0%);
        transition: 1s;
    }

    .segunda-imagen > img{
        transform: scale(0.8);
        filter: grayscale(80%); 
        transition: 1s; 
    }

    .segunda-imagen > img:hover{
        transform: scale(1);
        filter: grayscale(0%);
        transition: 1s;
    }

    .primera-imagen > p{
        font-size: 1rem;
    }

    .segunda-imagen > p{
        font-size: 1rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .primer-tramo, .segundo-tramo{
        padding-left: 12em;
        padding-right: 12em;
        
    }

    .segundo-tramo{
        align-items: center;
    }

    .segundo-tramo > h2{
        margin-bottom: 2em;
    }

    .segundo-tramo > article > div > p{
        font-size: 1.2rem;
    }

    .descubri{
        width: 70%;
    }

    .footer{
        padding-left: 4em;
        padding-right: 4em;
    }

    .grid-contacto{
        display: flex;
        gap: 30px;
        justify-content: space-evenly;
        
    }

    .nosotros{
        flex-shrink: 5;
    }

    .sugerencias{
        flex-shrink: 4;
    }

    .sugerencias > a:hover{
        color: red;
    }

    .contactos > a:hover{
        color: red;
    }

    .mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapa > h3{
        text-align: center;
    }

    .mapa > iframe{
        max-width: 60%;
        text-align: center;
    }

    .iconos-redes > a > img:hover{
        transform: scale(0.56);
        transition: all 100ms;        
    }
    
}

/*-----------PANTALLAS GRANDES HORIZONTALES---------------------------------------*/
@media screen and (min-width:1140px) {
    .carousel-inner{
        max-height: 25em;        
    }

    .logo{
        max-width: 300px;
    }    
}