/*Siluetas ocultas hombre: */
.delgadez-muy-severa{
    display: none;
}

.delgadez-severa{
    display: none;
}

.delgadez{
    display: none;
}

.saludable{
    display: none;
}

.sobrepeso{
    display: none;
}

.obesidad-moderada{
    display: none;
}

.obesidad-severa{
    display: none;
}

.obesidad-morbida{
    display: none;
}

/*Siluetas ocultas mujer: */
.delgadez-muy-severa-M{
    display: none;
}

.delgadez-severa-M{
    display: none;
}

.delgadez-M{
    display: none;
}

.saludable-M{
    display: none;
}

.sobrepeso-M{
    display: none;
}

.obesidad-moderada-M{
    display: none;
}

.obesidad-severa-M{
    display: none;
}

.obesidad-morbida-M{
    display: none;
}

.caja-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center; /*Alinea cada caja interna al centro horizontal*/
    align-items: center; /*Alinea cada caja interna al centro vertical*/   
    row-gap: 20px; 
}

.span-imc{
    display: block;
    font-size: 2rem;
    color: #000000; 
    font-weight: bold;   
}

.mensaje-imc{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.mensaje-bajar-peso, .mensaje-subir-peso, .mensaje-felicitaciones, .mensaje-peso-ideal-h, .mensaje-peso-ideal-m{
    display: none;
    margin-bottom: 0;
}

.span-bajar{
    font-weight: bolder;
    color:red;
}

.span-subir{
    font-weight: bolder;
    color:blue;
}

.span-peso-ideal-hombre, .span-peso-ideal-mujer{
    font-weight: bolder;
    color:green;
}






