*{
    box-sizing: border-box;    
    font-family: 'Montserrat'; 
}

html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    color:rgb(85, 85, 85);
    margin-top: 0;
    margin-bottom: 2em;
}

h2{
    color: rgb(85, 85, 85);
    text-align: center;
}

body{
    margin:0;
}

/*---------------HEADER--------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    border-bottom: 1px solid rgb(182, 182, 182);
    padding: 1em;
}

.logo{
    min-width: 200px;
    z-index: 7;
}

.container-menu{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
    z-index: 3;
}

/*--------------------ATENCIÓN--------------------: 
Las páginas web tienen un límite a la izquierda, pero 
no tienen límite a la derecha. Es por eso que cuando quería
que el "contenido-menu" aparezca barrido de derecha a izquierda
dejaba un HUECO que era donde se "escondía" con el 
"transform: translateX(100%)". En cambio cuando lo ubico a la 
izquierda, ese problema no lo tiene porque el lado izquierdo de la
página tiene un límite, y no genera ningún HUECO. 
*/
.contenido-menu{
    position: absolute;
    width: 100%;
    max-width: 235px;
    top:0;
    left: 0;    
    background-color: #12322B;;
    height: 100vh;
    transform: translateX(-100%);
    transition: all 500ms ease;
    z-index: 5;
}

.nav{
    display: flex;
    flex-direction: column;    
    gap: 2em;
    padding-left: 1em;
    transform: translateY(50%); /*Altura de los links con respecto al header*/
}

.nav > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: aqua;
}

/*ANIMACIÓN: */
.animacion{
    opacity: 1;
    visibility: visible;    
}

.animacion-2{
    transform: translateX(0%);
}

/*-------MENU HAMBURGUESA--------------------------
El "menu__barras", al tener una "position:absolute",
se posiciona con respecto al "header" que tiene una
"position:relative" y, además, es hijo de él.*/
.menu__barras{   
    position: absolute;
    width: 30px;
    height: 30px;
    top:40%;
    right: 10%;
    transform: scale(1);
    cursor: pointer;       
    z-index: 5;    
}

.menu__barras > span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 600ms;
}

/*Clases que no estan en el HTML, pero que seran
agregadas a las barras <span> mediante JavaScript: */
.activarLinea1__menu-barras{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activarLinea2__menu-barras{
    opacity: 0;
    margin-left: -30px;
}

.activarLinea3__menu-barras{
    transform: rotate(-45deg) translate(-4px, 2px);
}


/*---------------FOOTER-------------------- */
.footer{
    background-color:#12322B;
    color: #FFF;    
    font-size: 0.8rem;
    text-align: start;
    padding: 1em;
}

.link-formulario{
    color:aqua;
    text-decoration: none;
}

.nosotros > h3{
    /* font-family: 'Montserrat' !important; */
    font-size: 1.1rem;
    font-weight:600;
}

.sugerencias > h3{
    /* font-family: 'Montserrat' !important; */
    font-size: 1.1rem;
    font-weight: 600;
}
.contacto > h3{
    /* font-family: 'Montserrat' !important; */
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 0.4em;
}

.contactos{
    margin-bottom: 1em;
}

.contactos > i{
    font-size: 1rem;
    /* font-family: 'Montserrat'; */
    font-style: normal;  
}

.contactos > a{
    text-decoration: none;  
    color:aqua;
    margin-left: 0.5em;
}

.mapa > h3{
    /* font-family: 'Montserrat' !important; */
    font-size: 1.1rem;
    font-weight: 600;
}

.redes-sociales > h3{
    /* font-family: 'Montserrat' !important; */
    font-size: 1.1rem;
    margin-top: 1em;
    font-weight: 600;
}

.iconos-redes > a > img{
    transform: scale(0.6);
}

.copyright{
    text-align: center;
    border-top: 1px solid #FFF;
    margin-top: 1em;
    padding-top: 0.5em;
}

.p-copyright{
    text-align: center;
}

/*-------------RESPONSIVE DE LOGO Y TIPS----------------------------------- */
@media (min-width: 321px) and (max-width: 1920px) {
    .logo{
        width: calc(200px + (300 - 200) * ((100vw - 320px) / (1920 - 320))); ;
    }

    .img-tips {
        width: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320))); /* Fórmula para tamaño responsivo entre 25px y 50px */
    }
}

/*--------------AJUSTE PARA PANTALLAS DE MÁS DE 1920px---------------------*/
@media screen and (min-width: 1921px) {
    .logo{
        width: 300px;
    }
}

/*----AJUSTE FINO PARA MI CELULAR--- */
@media screen and (min-width:412px) {
    .contenido-menu{
        max-width: 238px;
    }
}


/*-------------------------RESPONSIVE EN TABLETS VERTICALES--------------- */
@media screen and (min-width:768px){    
    /*-------------------------HEADER------------------------------------- */ 
    .header{
        padding-left: 4em;
        padding-right: 4em;
    }

    .contenido-menu{
        max-width: 340px;
    }

    .nav{
        padding-left: 2.7em;        
    }

    /*-------------------------FOOTER----------------------------------- */
    .footer{
        padding-left: 3em;
        padding-right: 3em;
    }

    .contacto > h3{
        margin-top: 0;
    }

    .grid-contacto{
        display: grid;
        grid-template-columns: 23% 23% 33%;
        justify-content: space-between; 
    }

    .redes-sociales{
        margin-top: 1em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*-------------------------RESPONSIVE EN 1024px--------------- */
@media screen and (min-width:1024px) {
    h1{
        font-size: 2.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    /*-------------------------HEADER------------------------- */
    .header{
        padding-left: 7em;
        padding-right: 7em;
    }

    /*Ocultar el botón de barras:*/
    .menu__barras{
        display: none;
    }

    .container-menu{
        position:static;
        background-color:transparent;
        width: auto;
        height: auto;        
        opacity: 1;
        visibility: visible;
        transition: all 0ms ease;
    }

    .contenido-menu{
        position: static;
        width: auto;
        max-width:fit-content; /*Deja que el contenido ajuste el ancho*/           
        background-color:transparent;
        height: auto;
        transform: translateX(0%);
        transition: all 0ms ease;
    }

    .nav{
        display: flex;
        flex-direction:row;
        justify-content: end;    
        gap: 1em;
        padding-left: 0;
        transform: translateY(0%); /*Altura de los links con respecto al header*/
    }

    .nav > a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        color: #12322B;
    }

    .nav > a:hover{
        color:red;
        text-decoration: underline;
    }

    /*-------------------------FOOTER-------------------------------- */
    .footer{
        padding-left: 4em;
        padding-right: 4em;
    }

    .grid-contacto{
        display: flex;
        gap: 30px;
        justify-content: space-evenly;
    }

    .nosotros{
        flex-shrink: 5;
    }

    .sugerencias{
        flex-shrink: 4;
    }

    .sugerencias > a:hover{
        color: red;
    }

    .contactos > a:hover{
        color: red;
    }

    .mapa{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mapa > h3{
        text-align: center;
    }

    .mapa > iframe{
        max-width: 60%;
        text-align: center;
    }

    .iconos-redes > a > img:hover{
        transform: scale(0.56);
        transition: all 100ms;        
    }
}

/*----------------------RESPONSIVE EN 1400px--------------- */
@media screen and (min-width:1400px) {
    /*-------------------------HEADER------------------------- */
    .header{
        padding-left: 15em;
        padding-right: 15em;
    }    
}

/*----------------------RESPONSIVE EN FULL HD--------------- */
@media screen and (min-width:1900px) {
    /*-------------------------HEADER------------------------- */
    .header{
        padding-left: 24em;
        padding-right: 24em;
    }    
}



