figcaption{
    text-align: center;
}

.calcular-imc{
    display: flex;
    flex-direction: column;
}

.calcular-imc > h3{
    text-align: center;
}

/*Siluetas ocultas hombre: */
.delgadez-muy-severa{
    display: none;
}

.delgadez-severa{
    display: none;
}

.delgadez{
    display: none;
}

.saludable{
    display: none;
}

.sobrepeso{
    display: none;
}

.obesidad-moderada{
    display: none;
}

.obesidad-severa{
    display: none;
}

.obesidad-morbida{
    display: none;
}

/*Siluetas ocultas mujer: */
.delgadez-muy-severa-M{
    display: none;
}

.delgadez-severa-M{
    display: none;
}

.delgadez-M{
    display: none;
}

.saludable-M{
    display: none;
}

.sobrepeso-M{
    display: none;
}

.obesidad-moderada-M{
    display: none;
}

.obesidad-severa-M{
    display: none;
}

.obesidad-morbida-M{
    display: none;
}

.caja-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center; /*Alinea cada caja interna al centro horizontal*/
    align-items: center; /*Alinea cada caja interna al centro vertical*/   
    row-gap: 20px; 
}

.span-imc{
    display: block;
    font-size: 2rem;
    color: #000000; 
    font-weight: bold;   
}

.mensaje-imc{
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

.mensaje-bajar-peso, .mensaje-subir-peso, .mensaje-felicitaciones, .mensaje-peso-ideal-h, .mensaje-peso-ideal-m{
    display: none;
    margin-bottom: 0;
}

.span-bajar{
    font-weight: bolder;
    color:red;
}

.span-subir{
    font-weight: bolder;
    color:blue;
}

.span-peso-ideal-hombre, .span-peso-ideal-mujer{
    font-weight: bolder;
    color:green;
}


/*-------------------------RESPONSIVE EN TABLETS VERTICALES--------------- */
@media screen and (min-width:768px){
    /*-------------------------MAIN------------------------------------- */
    .explicacion{
        padding-left: 4em;
        padding-right: 4em;
    }

    .explicacion-ilustrada{
        padding-left: 4em;
        padding-right: 4em;
    }

    .calcular-imc{
        padding-left: 4em;
        padding-right: 4em;
    }    
}


/*-------------------------RESPONSIVE EN 1024px--------------- */
@media screen and (min-width:1024px) {
    /*-------------------------MAIN------------------------------------- */
    .explicacion{
        padding-left: 8em;
        padding-right: 8em;
    }

    .explicacion-ilustrada{
        padding-left: 8em;
        padding-right: 8em;
    }

    .calcular-imc{
        padding-left: 8em;
        padding-right: 8em;
    }    
}


/*----------------------RESPONSIVE EN 1400px--------------- */
@media screen and (min-width:1400px) {
    /*-------------------------MAIN------------------------------------- */
    .explicacion{
        padding-left: 15em;
        padding-right: 15em;
    }

    .explicacion-ilustrada{
        padding-left: 15em;
        padding-right: 15em;
    }

    .calcular-imc{
        padding-left: 15em;
        padding-right: 15em;
    }    
}


/*----------------------RESPONSIVE EN FULL HD--------------- */
@media screen and (min-width:1900px) {
    /*-------------------------MAIN------------------------------------- */
    .explicacion{
        padding-left: 24em;
        padding-right: 24em;
    }

    .explicacion-ilustrada{
        padding-left: 24em;
        padding-right: 24em;
    }

    .calcular-imc{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr 1fr auto;
        gap:20px;
        padding-left: 24em;
        padding-right: 24em;
    }
    
    .grid-calcular{
        grid-column-start: 1;
        grid-column-end: 3;        
    }

    .grid-datos{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .boton-calcular{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .resultado{
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .sugerencias > p{
        text-align: center;
    }

    .genero{
        border:1px solid grey;
        border-radius: 10px;
        padding: 20px;        
    }

    .edad, .altura, .peso{
        position:relative;
        border:1px solid grey;
        border-radius: 10px;
        padding: 20px;

    }

    .caja-edad, .caja-altura, .caja-peso{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}






